<ion-header [translucent]="true" class="ion-no-border" mode="ios" collapse="fade">
  <ion-toolbar>
    <ion-title>My Weather App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background-image">
    <ion-header collapse="condense">
    </ion-header>

  <ion-searchbar
    value=""
    placeholder="Search Location..."
    (ionChange)="getWeatherInformation($event?.detail?.value)"
    (ionChange)="getWeatherFutureInformation($event?.detail?.value)"
    (ionChange)="getWeatherHourInformation($event?.detail?.value)"
  ></ion-searchbar>
      <!-- TODAY FORECAST -->
      <ion-item>
        <h3><ion-icon name="location-sharp" class="icon"></ion-icon>{{weatherData?.name}}, {{weatherData?.sys?.country}}</h3>
        <h3 slot="end">{{todayDate| date: "EEE dd MMM h:mm a"}}</h3>
      </ion-item>
      <img class="weather-icon" src="{{weatherIcon}}"/>
      <ion-item class="temp" style="text-align: center; width: 100%">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label>{{weatherData?.main?.temp}}°</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <h1>{{(weatherData?.weather && weatherData?.weather[0] 
                !==null ? weatherData?.weather[0]?.description: 'N/A') | titlecase}}</h1>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <h3>
                <ion-icon name="arrow-up-outline" class="icon-smaller"></ion-icon>{{weatherData?.main?.temp_max}}°    
                <ion-icon name="arrow-down-outline" class="icon-smaller"></ion-icon>{{weatherData?.main?.temp_min}}°
              </h3>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <h4>
                The weather has a {{weatherData?.weather && weatherData?.weather[0]
                !==null ? weatherData?.weather[0]?.description: 'N/A' | uppercase}}
                and the temperature feels like {{weatherData?.main?.feels_like}}°.
              </h4>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      
    <ion-card>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>
              <h3>
                <ion-icon name="sunny-sharp" class="icon-smaller"></ion-icon> {{weatherData?.sys?.sunrise*1000 | date:'h:mm a'}}     
              </h3>
              </ion-col>      
              <ion-col>
                <h3>
                  <ion-icon name="water-sharp" class="icon-smaller"></ion-icon> {{weatherData?.main?.humidity}}%
                </h3>
              </ion-col>
              <ion-col>
                <h3>
                  <ion-icon name="partly-sunny-sharp" class="icon-smaller"></ion-icon> {{weatherData?.sys?.sunset*1000 | date:'h:mm a'}}
                </h3>
              </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-card>
    <!-- TODAY 3-HOUR FORECAST -->
    <ion-card>
      <ion-item>
        <h1><ion-icon name="time-sharp" class="icon"></ion-icon> Today</h1>
        <h3 slot="end">{{todayDate| date: "EEE dd MMM"}}</h3>
      </ion-item>
      <ion-grid>
        <ion-row>        
          <ion-col *ngFor="let item of hourArray">   
            <h3>
              {{item.time}}
            </h3>
              <img src="{{weatherFutureIcon}}"/>
              <h2 class="forecastTemp">
                {{item?.main?.temp}}°  
              </h2>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    <!-- 5-DAY FORECAST -->
    <ion-card>
      <ion-item>
        <h1><ion-icon name="today-sharp" class="icon"></ion-icon> Next Forecast</h1>
      </ion-item>
      <ion-grid ion-no-padding ion-no-margin>
        <ion-row *ngFor="let forecast of forecastArray" style="text-align: center; width: 100%">        
          <ion-col>   
            <h2>{{forecast.weekDay}}</h2>
            <h4>
              {{forecast.day}} 
              {{forecast.month}}
            </h4>
          </ion-col>
          <ion-col>
            <img class="weather-icon-flex" src="{{weatherIcon}}"/>
          </ion-col>
          <ion-col>
            <h2 class="forecastTemp">
              {{forecast?.main?.temp}}° 
            </h2>
          </ion-col>
          <ion-col>
            <h4>
              <ion-icon name="arrow-up-outline" class="icon-smallest"></ion-icon>{{forecast?.main?.temp_min}}° 
              <br>
              <ion-icon name="arrow-down-outline" class="icon-smallest"></ion-icon>{{forecast?.main?.temp_max}}°
            </h4>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
</ion-content>
